@using LL.Store.UI.Models
@model LL.Store.UI.Models.Produto

@{ 
    ViewBag.Title = $"{(Model.Id == 0 ? "Adicionar" : "Editar")} Produto";
}
<h2>@ViewBag.Title</h2>

<form method="post">
    <div class="form-group">
        <label for="txtNome">Nome:</label>
        <input class="form-control" type="text" name="nome" id="txtNome" value="@Model.Nome" autofocus />
    </div>
    <div class="form-group">
        <label for="txtPreco">Preço:</label>
        <input class="form-control" type="text" name="preco" value="@Model.Preco" id="txtPreco" />
    </div>
    <div class="form-group">
        <label for="txtTipo">Tipo:</label>
        <select name="TipoDeProdutoId" class="form-control">
            <option value="">Selecione...</option>
            @foreach (TipoDeProduto item in ViewBag.Tipos)
            {
                <option @(@item.Id == Model.TipoDeProdutoId ? "selected" : "") value="@item.Id">@item.Nome</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="txtQtde">Qtde:</label>
        <input class="form-control" type="text" name="qtde" value="@Model.Qtde   " id="txtQtde" />
    </div>
    <div class="form-group">
        <button class="btn btn-outline-secondary">Salvar</button>
        <a class="btn btn-outline-info" href="~/Produtos">Cancelar</a>
    </div>
</form>